## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [ ]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [101]:
# Your code here
import random

sample_list_1 = []

for i in range(80):
    sample_list_1.append(random.randint(1, 101))
    
print(sample_list_1)
print(len(sample_list_1))

[85, 67, 54, 6, 21, 25, 7, 18, 14, 65, 19, 72, 82, 55, 85, 101, 98, 15, 53, 65, 71, 84, 5, 34, 99, 70, 3, 37, 65, 18, 86, 59, 31, 27, 34, 84, 48, 50, 73, 15, 37, 50, 56, 89, 81, 12, 83, 56, 28, 12, 80, 5, 42, 72, 99, 11, 23, 7, 97, 73, 25, 10, 74, 50, 67, 88, 89, 16, 2, 66, 101, 12, 54, 56, 47, 54, 4, 30, 5, 60]
80

In [78]:
random.sample(range(0,100),80)

[43,
 18,
 27,
 68,
 37,
 70,
 0,
 21,
 22,
 46,
 94,
 38,
 4,
 20,
 33,
 48,
 56,
 32,
 2,
 6,
 44,
 55,
 5,
 61,
 57,
 65,
 12,
 14,
 88,
 51,
 25,
 75,
 81,
 59,
 10,
 62,
 67,
 17,
 95,
 86,
 11,
 72,
 77,
 83,
 45,
 15,
 35,
 79,
 66,
 39,
 29,
 76,
 23,
 19,
 98,
 85,
 84,
 74,
 9,
 93,
 78,
 92,
 60,
 89,
 31,
 41,
 82,
 87,
 40,
 47,
 52,
 71,
 28,
 91,
 1,
 80,
 36,
 3,
 50,
 8]

In [81]:
print(len(sample_list_1))

80

 Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [102]:
# Your code here
set1 = set(sample_list_1)
len(set1)

54

In [103]:
type(set1)

set

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [19]:
# Your code here
sample_list_2 = []
for i in range(80):
    sample_list_2.append(random.randint(1, 101))
print(sample_list_2)

[85, 25, 6, 52, 51, 14, 7, 59, 27, 99, 74, 89, 20, 19, 48, 82, 2, 2, 60, 64, 66, 88, 34, 1, 93, 46, 5, 15, 59, 86, 20, 51, 91, 51, 35, 28, 92, 58, 73, 27, 44, 59, 11, 57, 27, 22, 84, 46, 98, 31, 85, 92, 13, 91, 77, 66, 76, 73, 85, 50, 28, 22, 87, 24, 37, 66, 49, 89, 44, 63, 66, 60, 61, 66, 13, 82, 59, 63, 91, 71]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [21]:
# Your code here
set2 = set(sample_list_2)
len(set2)

52

In [104]:
type(set2)

set

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [112]:
# Your code here
set3 = []
for i in set1:
    if i not in set2:
        set3.append(i)
set(set3)
print(set3)

[3, 4, 10, 12, 16, 18, 21, 23, 30, 42, 47, 53, 54, 55, 56, 65, 67, 70, 72, 80, 81, 83, 97, 101]

In [113]:
type(set3)

list

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [25]:
# Your code here
set4 = []
for i in set2:
    if i not in set1:
        set4.append(i)
print(set4)

[5, 6, 11, 13, 14, 19, 22, 24, 31, 34, 49, 50, 51, 57, 61, 73, 77, 82, 87, 88, 89, 92, 98, 99]

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [26]:
# Your code here
set5 = []
for i in set1:
    if i in set2:
        set5.append(i)
print(set5)

[1, 2, 7, 15, 20, 25, 27, 28, 35, 37, 44, 46, 48, 52, 58, 59, 60, 63, 64, 66, 71, 74, 76, 84, 85, 86, 91, 93]

#### (Optional) What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a formula to represent that relationship. Test your formula with Python code.

In [ ]:
# Your code here

#### Create an empty set called `set6`.

In [47]:
# Your code here
list6=[]
set6=set(list6)

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [48]:
# Your code here
set6.update(set3 and set5)
print(set6)

{1, 2, 7, 15, 20, 25, 27, 28, 35, 37, 44, 46, 48, 52, 58, 59, 60, 63, 64, 66, 71, 74, 76, 84, 85, 86, 91, 93}

In [46]:
set6

{1,
 2,
 7,
 15,
 20,
 25,
 27,
 28,
 35,
 37,
 44,
 46,
 48,
 52,
 58,
 59,
 60,
 63,
 64,
 66,
 71,
 74,
 76,
 84,
 85,
 86,
 91,
 93}

#### Check if `set1` and `set6` are equal.

In [62]:
set1==set6

False

In [67]:
if set1==set6 == False: 
        print ("not equal")

In [57]:
for i in set1:
    if i in set6:
        print("Set1 and Set6 are  not equal")
        
    else:
        break
        #print("Set1 and Set6 are not equal")

Set1 and Set6 are  not equal
Set1 and Set6 are  not equal
Set1 and Set6 are  not equal

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [89]:
##z = x.issubset(y)

z1 = set1.issubset(set2)
print(z1)

False

In [115]:
z2 = set1.issubset(set3)
print(z2)

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [118]:
# Your code here
#z = x.union(y)
z1 = set3.union(set4, set5)
print(z1)

AttributeError: 'list' object has no attribute 'union'

In [124]:
len(set1)

54

#### Using the `pop` method, remove an element from `set1`.

In [126]:
# Your code here
set1
set1.pop()

2

In [127]:
len(set1)

53

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [129]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
remaining = []
for i in list_to_remove:
    if i in set1:
        remaining.remove(i)
print(remaining)

[]

In [132]:
remaining = []
for i in set1:
    if i != list_to_remove:
        remaining.append(i)

print(remaining)

[3, 4, 5, 6, 7, 10, 11, 12, 14, 15, 16, 18, 19, 21, 23, 25, 27, 28, 30, 31, 34, 37, 42, 47, 48, 50, 53, 54, 55, 56, 59, 60, 65, 66, 67, 70, 71, 72, 73, 74, 80, 81, 82, 83, 84, 85, 86, 88, 89, 97, 98, 99, 101]